<h3 class="text-center text-uppercase">List of User Groups</h3>

<div *ngFor="let element of UserGroupArray">

  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <ng-container *ngIf="checkAdminStatus(element.UserId)">
        <b>
          <mat-panel-title>
            <div id="title">Access lvl:</div>
            <p id="text">Admin</p>
          </mat-panel-title>
        </b>
      </ng-container>
      <ng-container>
        <mat-panel-title *ngIf="!checkAdminStatus(element.UserId)">
          <div id="title">Access lvl:</div>
          <p id="text">User</p>
        </mat-panel-title>
      </ng-container>
      <mat-panel-description>
        <div id="title">Group name:</div>
        <b>
          <p id="text">{{element.GroupName}}</p>
        </b>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p id="text">{{element.description}}</p>

    <mat-action-row>
      <ng-container *ngIf="checkAdminStatus(element.UserId)">
        <button [routerLink]="['/group-edit']" class="editGroupButton" (click)="updateUserGroup(element.GroupId)">Edit group</button>
        <button (click)="deleteUserGroup(element.GroupId)" class="deleteGroupButton">Delete group</button>
      </ng-container>
      <button (click)="showUserGroupList(element.GroupId)" class="showUsersButton">Show users</button>
      <button class="showNotesButton">Show group notes</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>

<br><button [routerLink]="['/groupCreator']" class="createGroupButton">Create new group</button>
<mat-spinner class="spinnerCenter" *ngIf="isLoading">div</mat-spinner>