.spinnerCenter {
  margin: 0 auto;
  margin-top: 25%;
}

.icon {
  width: 5%;
  height: auto;
}

.iconU {
  width: 5%;
  height: auto;
}

mat-panel-description {
  color: black;
}



mat-expansion-panel {
  background-color: #a6cdf5;
}

mat-panel-title {
  position: absolute;
  right: 300px;
}

#title {
  color: #054686;
}

#text {
  color: #2586e7;
}