<h3 class="groupTitle">List of User Groups</h3>

<div *ngFor="let element of UserGroupArray">

  <mat-expansion-panel class="form">
    <mat-expansion-panel-header>

      <ng-container *ngIf="checkAdminStatus(element.UserId)">
          <mat-panel-title>
            <div id="title"> Access lvl: </div>&nbsp;
            <div id="text"> Admin </div>
          </mat-panel-title>
      </ng-container>
      <ng-container>
        <mat-panel-title *ngIf="!checkAdminStatus(element.UserId)">
        <div  id="title">Access lvl: </div>&nbsp;
        <div id="text"> User </div>
        </mat-panel-title>
      </ng-container>
      <mat-panel-description>
        <div id="title"> Group name: </div>&nbsp;
        <b>
          <p id="text"> {{element.GroupName}} </p>
        </b>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p id="text"> {{element.description}} </p>

    <mat-action-row>
      <ng-container *ngIf="checkAdminStatus(element.UserId)">
        <button class="editGroupButton" (click)="updateUserGroup(element.GroupId)">Edit group</button>
        <button (click)="deleteUserGroup(element.GroupId)" class="deleteGroupButton">Delete group</button>
      </ng-container>
      <button (click)="showUserGroupList(element.GroupId)" class="showUsersButton">Show users</button>
      <button class="showNotesButton" (click)="showGroupNotes(element.GroupId)">Show group notes</button>
    </mat-action-row>
  </mat-expansion-panel>
</div>

<br><button *ngIf="!isLoading" [routerLink]="['/groupCreator']" id="centerB" class="createGroupButton">Create new group</button>

<mat-spinner class="spinnerCenter" *ngIf="isLoading"></mat-spinner>