@import url(https://fonts.googleapis.com/css?family=Roboto:300);

div, button, p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.spinnerCenter {
  margin: 0 auto;
  margin-top: 25%;
}

.icon {
  width: 5%;
  height: auto;
}

.iconU {
  width: 5%;
  height: auto;
}

mat-panel-description {
  color: black;
}

mat-expansion-panel {
  background-color: #71a1d1;
}

#title {
  color: #054686;
}

#text {
  color: #1c52c7;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width:650px;
  margin: 0 auto 5px;
  padding: 35px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.groupTitle {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: rgb(0, 0, 0);
}

#centerB {
  position: relative;
  text-align: center;
  margin-left: 43%;
}