#leaveGroupButton {
  background-color: rgb(189, 60, 37);
}

#moreInfo{
  background-color: rgb(2, 137, 247);
}
#leaveGroupButton {
  background-color: rgb(189, 60, 37);
}

#moreInfo{
  background-color: rgb(2, 137, 247);
}

.spinnerCenter {
  margin: 0 auto;
  margin-top: 25%;
}