<configuration>
    <system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD, OPTIONS" />
				<add name="Allow" value="GET, PUT, POST, DELETE, HEAD, OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
			</customHeaders>
		</httpProtocol>
        <rewrite>
            <rules>
                <rule name="SPA">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
		<security>
			<requestFiltering>
				<verbs allowUnlisted="true">
					<add verb="OPTIONS" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>
    </system.webServer>
</configuration>