<form #createGroup="ngForm" *ngIf="!isLoading">
  <div class="login-page">
    <div class="form">
      <div class="register-form">
        <div class="groupCreatorTitle">Group creator</div>
        <input type="text" [(ngModel)]="groupName" [pattern]="patterns.objectName" required #groupN="ngModel" name="groupN" placeholder="Group name"/>
        <input type="text" [(ngModel)]="groupDescription" [pattern]="patterns.groupDescription" required #groupD="ngModel" name="groupD" placeholder="Group description"/>
        <button type="submit" id="loginButton" (click)="createUserGroup()" [disabled]="createGroup.invalid">Create</button>
        <p class="message"><a [routerLink]="['/groups']">Back to list</a></p>
      </div>
    </div>
  </div>
</form>
<mat-spinner class="spinnerCenter" *ngIf="isLoading"></mat-spinner>