<h3 class="pageTitle" >Notes display</h3>
<button (click)="createNote()" class="createGroupButton">Create new note</button>
<br><br><br><br>
<mat-grid-list  cols="3" rowHeight="1:1" gutterSize="100px" rowspan="2">
  <ng-container *ngFor="let element of GroupNotesArray">
    <mat-grid-tile class="form">
        <mat-card>
            <mat-card-header>
              {{element.NoteName}}
            </mat-card-header>
            <mat-card-content>
              {{element.description}} 
            </mat-card-content>
            <mat-card-actions *ngIf="adminChecker(element.CreatorId)">
              <button class="editGroupButton" (click)="updateNote(element.NoteId)">Edit</button>
              <button (click)="deleteNote(element.NoteId)" class="deleteGroupButton">Delete</button>
            </mat-card-actions>
        </mat-card>    
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
