<ng-container class="container py-5" *ngIf="!isLoading">
  <h3 class="text-center text-uppercase">List of User Groups</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="text-center text-uppercase"></tr>
      <th>Group name</th>
      <th>Users list</th>
      <th>Options</th>
    </thead>
    <tbody>
      <tr *ngFor="let element of userGroupArray">
        <td>{{element.GroupName}}</td>
        <td>
          <div *ngFor="let user of element.userGroups; let i = index">
            <p>{{user.userId}}</p>
          </div>
        </td>

        <td>
          <label> User email: </label><input type="text" [(ngModel)]="UserEmail" />

          <input type="submit" value="Assign user" (click)="assignUserGroup(UserEmail, element.GroupName)" />

          <br><br>

          <label>Remove user from group: </label><input type="text" [(ngModel)]="UserId" />

          <input type="submit" value="Remove user" (click)="removeUserFromGroup(UserId, element.GroupId)" />

          <br><br>

        </td>

      </tr>
    </tbody>
  </table>
  <button [routerLink]="['/groupCreator']">Create new group</button>

</ng-container>
<mat-spinner class="spinnerCenter" *ngIf="isLoading">div</mat-spinner>