<form #registerForm = "ngForm">
  <div class="login-page">
    <div class="form">
      <div class="register-form">
        <div *ngIf="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)" class="alert">* First
          name required
        </div>

        <input type="text" [(ngModel)]="firstName" placeholder="first name" required #firstNameInput="ngModel" name="firstNameInput"/>

        <div *ngIf="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)" class="alert">* Last name
          required
        </div>

        <input type="text" [(ngModel)]="lastName" placeholder="last name" required #lastNameInput="ngModel" name="lastNameInput"/>

        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert">* Password
          required
        </div>

        <input type="password" [(ngModel)]="password" placeholder="password" required #passwordInput="ngModel" name="passwordInput"/>

        <div *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)" class="alert">
          <div *ngIf="emailAddress.errors.required">* Email address required</div>
          <div *ngIf="emailAddress.errors.pattern">* Email address invalid</div>
        </div>

        <input type="text" [(ngModel)]="email" placeholder="email address" [pattern]="emailPattern" required #emailAddress="ngModel" name="emailAddress"/>

        <button type="submit" id="registerButton" (click)="register()" [disabled]="registerForm.invalid">create</button>

        <p class="message">Already registered? <a [routerLink]="['/login']">Sign In</a></p>
      </div>
    </div>
  </div>
</form>
<mat-spinner class="spinnerCenter" *ngIf="isLoading"></mat-spinner>