<div class="login-page">
  <div class="form">
    <div class="register-form">
      <input type="text" required [(ngModel)]="firstName" placeholder="first name"/>
      <input type="text" required [(ngModel)]="lastName" placeholder="last name" />
      <input type="password" required [(ngModel)]="password" placeholder="password"/>
      <input type="text" required [(ngModel)]="email" placeholder="email address"/>
      <button type="submit" id="registerButton" (click)="register()">create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </div>
  </div>
</div>
